/* colors and bg  */

.bg-grey {
	background: #f8f8f8 !important;
}

.bg-white {
	background: #fff !important;
}

.bg-theme {
	background: #c0b298 !important;
}
.color-theme {
	color: #c0b298 !important;
}
.text-color {
	color: #2d2d2a !important;
}
.title-color {
	color: #414042 !important;
}
.color-black {
	color: #000 !important;
}
.color-white {
	color: #fff !important;
}

/* colors and bg  */

/* margin  */

.mb-75 {
	margin-bottom: 75px !important;
}

.mb-30 {
	margin-bottom: 30px !important;
}

.mb-25 {
	margin-bottom: 25px !important;
}

.mb-10 {
	margin-bottom: 10px !important;
}
.mr-0 {
	margin-right: 0 !important;
}
.mr-5 {
	margin-right: 5px !important;
}
.mr-30 {
	margin-right: 30px !important;
}
.mt-20 {
	margin-top: 20px !important;
}
.mt-25 {
	margin-top: 25px;
}
.mt-50 {
	margin-top: 50px !important;
}

.mt-10 {
	margin-top: 10px !important;
}

.ml-10 {
	margin-left: 10px !important;
}

.ml-20 {
	margin-left: 20px !important;
}

.mr-20 {
	margin-right: 20px !important;
}

.mt-30 {
	margin-top: 30px !important;
}

.mt-40 {
	margin-top: 40px !important;
}

.ml0 {
	margin-left: 0 !important;
}

.mb-10 {
	margin-bottom: 10px !important;
}

.mb-35 {
	margin-bottom: 35px !important;
}

.mb-40 {
	margin-bottom: 40px !important;
}

.mb-20 {
	margin-bottom: 20px !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-5 {
	margin-bottom: 5px !important;
}

.mb-15 {
	margin-bottom: 15px !important;
}

.mb-50 {
	margin-bottom: 50px !important;
}

.mb-20 {
	margin-bottom: 20px !important;
}

.mt-15 {
	margin-top: 15px !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mr-10 {
	margin-right: 10px !important;
}

/* padding  */

.p-30 {
	padding: 30px !important;
}
.p-0 {
	padding: 0 !important;
}
.p-50 {
	padding: 50px;
}
.p-15 {
	padding: 15px !important;
}

.p-20 {
	padding: 20px !important;
}

.pb-10 {
	padding-bottom: 10px !important;
}
.pb-15 {
	padding-bottom: 15px;
}

.pb-20 {
	padding-bottom: 20px !important;
}

.pt-75 {
	padding-top: 75px !important;
}

.pt-50 {
	padding-top: 50px !important;
}

.pt-40 {
	padding-top: 40px !important;
}
.pt-45 {
	padding-top: 45px !important;
}
.pt-20 {
	padding-top: 20px !important;
}

.pb-30 {
	padding-bottom: 30px !important;
}

.pb-75 {
	padding-bottom: 75px !important;
}

.pb-50 {
	padding-bottom: 50px !important;
}

.ptb-75 {
	padding: 75px 0 !important;
}
.ptb-100 {
	padding: 100px 0px !important;
}
.pb-45 {
	padding-bottom: 45px !important;
}

.ptb-50 {
	padding: 50px 0 !important;
}

.p-40 {
	padding: 40px !important;
}

.w-100 {
	width: 100% !important;
}

.w-50 {
	width: 50% !important;
}

.pr {
	position: relative !important;
}

.pa {
	position: absolute !important;
}

.pl-0 {
	padding-left: 0 !important;
}

.pr-0 {
	padding-right: 0 !important;
}

.h-20 {
	height: 20px !important;
}

.r-0 {
	right: 0 !important;
}

.t-0 {
	top: 0 !important;
}

.b-0 {
	bottom: 0 !important;
}

.l-0 {
	left: 0 !important;
}

.top-50 {
	top: 50% !important;
	transform: translateY(-50%) !important;
}

.left-50 {
	left: 50% !important;
	transform: translateX(-50%) !important;
}

.zindex-1 {
	z-index: 1 !important;
}

.zindex--1 {
	z-index: -1 !important;
}

.opacity-0 {
	opacity: 0 !important;
}
.opacity-7 {
	opacity: 0.7;
}
.opacity-1 {
	opacity: 1 !important;
}

.text-capitalize {
	text-transform: capitalize !important;
}

.text-uppercase {
	text-transform: uppercase !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.text-justify {
	text-align: justify !important;
}

/* font class  */

.fw-1 {
	font-weight: 100 !important;
}

.fw-2 {
	font-weight: 200 !important;
}

.fw-3 {
	font-weight: 300 !important;
}
.fw-4 {
	font-weight: 400 !important;
}

.fw-5 {
	font-weight: 500 !important;
}

.fw-6 {
	font-weight: 600 !important;
}

.fw-7 {
	font-weight: 700 !important;
}

.fw-8 {
	font-weight: 800 !important;
}

.fw-9 {
	font-weight: 900 !important;
}
.fi {
	font-style: italic;
}
.fs-50 {
	font-size: 50px !important;
}
.fs-45 {
	font-size: 45px;
}
.fs-40 {
	font-size: 40px !important;
}

.fs-34 {
	font-size: 34px !important;
}

.fs-30 {
	font-size: 30px !important;
}

.fs-25 {
	font-size: 25px !important;
}

.fs-20 {
	font-size: 20px !important;
}

.fs-18 {
	font-size: 18px !important;
}

.fs-16 {
	font-size: 16px !important;
}

.fs-14 {
	font-size: 14px !important;
}

.fs-12 {
	font-size: 12px !important;
}

.fs-24 {
	font-size: 24px !important;
}
.mt-120 {
	margin-top: 120px;
}
@media (max-width: 767px) {
	.fs-30 {
		font-size: 20px !important;
	}
	.fs-45 {
		font-size: 30px;
	}
	.fs-50 {
		font-size: 30px !important;
	}
	.p-50 {
		padding: 25px;
	}
	.fs-24 {
		font-size: 20px !important;
	}
	.fs-25 {
		font-size: 18px !important;
	}

	.fs-34 {
		font-size: 24px !important;
	}

	.fs-40 {
		font-size: 24px !important;
	}

	.p-30 {
		padding: 20px !important;
	}

	.p-40 {
		padding: 20px !important;
	}
}
