body{
    font-family: Sans-serif;
}
.heading-top{
    background: #31A89C;
    color: #fff;
    padding:15px 20px;
}
.heading-top h2{
    font-size: 24px;
    margin: 0;
    padding: 0;
}
.heading-top ul{
    margin: 0;
    padding: 0;
    display: block;
    float: right;
}
.heading-top ul li{
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 14px;
}
.heading-top ul li i{
    margin-top: 3px;
}
.header-bottom{
    margin-top: 2px;
    background: #31A89C;
    color: #fff;
    padding:15px 20px;
}
.header-bottom h2{
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.main .overview{
    background: #31A89C;
    color: #fff;
    margin-top: 10px;
    padding:5px 20px;
}
.main .overview h2{
    font-size: 24px;
    margin: 0;
}
.main .description{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.price{
    background: #31A89C;
    color: #fff;
    margin-top: 10px;
    padding:5px 20px;
}
.price h2{
    font-size: 24px;
    margin: 0;
}
.price-list{
    margin-top: 15px;
}
.price-list ul li{
    list-style-type: none;
}
.price-list ul li i{
    font-size: 22px;
    margin-top: 5px;
    color: #31A89C;
    margin-right: 5px;
}
